* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Welcome page */
.maincontainer {
    background-color: white;
    padding: 50px;
    /* justify-content: center; */
}

h1 {
    margin: 0;
}

.welcomecover {
    text-align: center;
}

/* allCountries page */

img {
    height: 200px;
    width: 450px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

h4 {
    padding-bottom: 30px;
    padding-left: 20px;
}

.subtitle {
    padding-left: 20px;
    padding-bottom: 30px;
}

.tablecontainer {
    padding-left: 20px;
    margin-bottom: 30px;
}
