* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Welcome page */
.maincontainer {
    background-color: white;
}

.welcomecover {
    text-align: center;
}

/* allCountries page */

img {
    height: 650px;
    /*  width: 800px; */
    object-fit: cover;
}

.countryimage {
    height: 400px;
    object-fit: cover;
    width: 90%;
    padding-left: 50px;
}

a {
    text-decoration: none;
}

.tablecontainer {
    padding-left: 20px;
    margin-bottom: 30px;
}

.logo {
    height: 100px;
}
